@page
@model DarNGames.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommonGameProperties</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommonGameProperties.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonGameProperties.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommonGameProperties.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonGameProperties.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommonGameProperties.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonGameProperties.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommonGameProperties.ImageLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonGameProperties.ImageLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CommonGameProperties.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
