@page "{id}/{gameVendorId}/{productId}"
@model DarNGames.Pages.Products.ProductModel

@{
    ViewData["Title"] = "Product";
}


<div>
    <h2>Product</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
            <p>@Model.Product.Description</p>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
            <p>@Model.Product.Price</p>
        </dt>
        <dd class="col-sm-10">
            <img aria-label="VendorImageHomepage" class="img-fluid" src=@Url.Content("~/Images/" + Model.Vendor.VendorTitle.Replace(" ", "%20") + "/" + Model.VendorSubcategory.Title.Replace(" ", "%20") + "/" + Model.Product.ImageLink) style="" />
        </dd>

    </dl>
    </div>
