@page "{id}"
@model DarNGames.Pages.VendorSubcategories.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-4 col-sm-3">
        <h1>@Model.VendorAndSubcategory.GameVendor.VendorTitle</h1>
    </div>
  </div>

    
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <img src=@Url.Content("~/Images/" + Model.VendorAndSubcategory.GameVendor.VendorTitle.Replace(" ", "%20") + "/" +  Model.VendorAndSubcategory.GameVendor.ImageLink) class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
        <p>
            <a asp-page="Create" asp-route-gameVendorId="@Model.VendorAndSubcategory.GameVendor.Id">Create New Subcategory</a>
        </p>
            @foreach (var item in Model.VendorAndSubcategory.VendorSubcategory)
            {
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        @Html.DisplayFor(modelItem => item.Title)
                        <a asp-page="../products/ProductsHome" asp-route-id="@item.Id" asp-route-gameVendorId="@item.GameVendorId"><img aria-label="VendorImageHomepage" class="img-fluid" src=@Url.Content("~/Images/" + Model.VendorAndSubcategory.GameVendor.VendorTitle.Replace(" ", "%20") + "/" + item.Title.Replace(" ", "%20") + "/" + item.ImageLink) style="" /></a>
                    </div>
                        <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-gameVendorId="@item.GameVendorId">Edit</a> |
                    <div>
                        <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-gameVendorId="@item.GameVendorId">Delete</a>
                    </div>
                </div>
                
            }
