@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please select a vendor</h1>
</div>
<div class="container">

    <p>
        <a asp-page="./GameVendors/Create">Create New</a>
    </p>
    @foreach (var item in Model.GameVendors)
    {

        <div class="row">
            <div class="col-md-4 col-sm-3">
                @Html.DisplayFor(modelItem => item.VendorTitle)
                <a asp-page="vendorsubcategories/index" asp-route-id="@item.Id"><img aria-label="VendorImageHomepage" class="img-fluid" src="@Url.Content("~/Images/VendorImages/" + item.ImageLink + ".jpg")" style="" /></a>
            </div>
            <div>
                <a asp-page="gamevendors/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="gamevendors/Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="gamevendors/Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    };
</div>

